<div class="mb-3">
    {{ pagename }}
</div>
<div class="mb-3">
    {% if app.user %}
        {{ app.user.name }}
    {% endif %}
</div>
<div class="mb-3">
    {% if app.user %}
        <a href="{{ path('logout') }}">Logout</a>
    {% endif %}
</div>