{% extends 'base.html.twig' %}

{% block title %}{{ pagename }}{% endblock %}

{% block body %}

    <h2><a href="{{ path('product') }}">New Product</a></h2>
    <h2><a href="{{ path('sales') }}">Sales</a></h2>
{% endblock %}