{% extends 'base.html.twig' %}

{% block body %}
<div id="sales" data-url="{{ url }}"></div>
{% endblock %}

{% block title %}
{{ pagename }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('sales') }}
{% endblock %}